<nav class="desk">
    <ul role="list" class="nav">
        <li>
            <a href="/" class="nav-item-desk">Home</a>
        </li>
        <li>
            <a href="/blogs/" class="nav-item-desk">Lifestyles</a>
        </li>
        <li>
            <a href="/about/" class="nav-item-desk">About</a>
        </li>
        <li>
            <a href="/contact/" class="nav-item-desk">Contact</a>
        </li>
        
    </ul>
</nav>
