<nav class="desks">
    <ul role="list" class="desks-nav">
        <li>
            <a href="/" class="navs-item-desk">Home</a>
        </li>
        <li>
            <a href="/blogs/" class="navs-item-desk">Recipes</a>
        </li>
    </ul>
</nav>