@import url(variable.css);

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.blog-background {
  background-color: var(--color2);
}
.blog-header {
  display: flex;
  justify-content:space-between;
  background-color: var(--color1);
}

.blog-title {
  font-size: var(--h2);
  text-align: center;
  padding: 1rem;
  font-family: "Inspiration", cursive;
  color: var(--color2);
  margin: 1rem;
  margin-left:5rem;
}


.second-header {
  text-align: center;
  padding: 5rem;
  font-family: "Oswald", sans-serif;
  color: var(--color1);
  background-color: var(--color2);
}


.img-preview {
  height: 40rem;
  width: 40rem;
  display: flex;

}

.figure-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
  height: 45rem;
}

.articles {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap row;
  text-align: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  color: var(--color1);
}

.article-link {
  font-size: var(--h3);
  margin: 0.5rem;
  font-family: "Oswald", sans-serif;
  color: var(--color1);
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding: 2px 3px;
  transition: color ease 0.3s;
}

.article-text{
  margin-bottom: 3rem;
}

.article-author {
  font-size: var(--h4);
  font-family: "Oswald", sans-serif;
}

.article-description {
  font-size: var(--h5);
  font-family: "Oswald", sans-serif;
}

.article-background {
  background-color: rgb(219, 219, 219);
}

.home-background {
  background-image: url(http://phattweightloss.com/img/bg-fitness.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container {
  margin: auto;
  margin-top: 5rem;
  padding: 5rem;
  font-family: "Oswald", sans-serif;
  height: 75%;
  width: 85%;
}

.header-title {
  margin-top: 20rem;
  text-align: center;
  font-family: "Inspiration", cursive;
  color: var(--color2);
  font-size: 20rem;
}

.headers-title {
  text-align: center;
  padding: 5rem;
  color: var(--color1);
  background-color: var(--color2);
  
}


.deskss-nav {
  background-color: var(--color1);
  font-size: var(--h2);
  display: flex;
  padding: 2rem;
  font-family: "Oswald", sans-serif;
  color: var(--color1);
}

.desks-nav {
  display: flex;
  justify-content: center;
  list-style:none;
}

.desk-nav {
  font-size: var(--h2);
  display: flex;
  padding: 1rem;
  font-family: "Oswald", sans-serif;
  color: var(--color1);
  margin-top: 1.5rem;
}


.navss-item-desk {
  margin: 5rem;
  margin-bottom: 5rem;
  color: var(--color2);
  font-family: "Oswald", sans-serif;
  font-size: var(--h3);
}

.navs-item-desk {
  font-size: var(--h3);
  margin: 10rem;
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: rgb(109, 26, 192);
  padding: 2px 3px;
  transition: color ease 0.3s;
}
.navs-item-desk:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #FFF;
  transition: all ease 0.15s;
}
.navs-item-desk:hover {
  color: #efefef;
}
.navs-item-desk:hover::after {
  background-color: #79c5df;
  height: 100%;
}
.nav-item-desk { 
  margin: 5rem;
  margin-bottom: 5rem;
  color: var(--color2);
  font-family: "Oswald", sans-serif;
  font-size: var(--h3);
}

p {
  font-size: var(--h4);
  margin: 1rem auto;
  width: 50%;
  padding: 3rem;
  font-family: "Merriweather", serif;
  font-weight: bold;
  color: var(--color1);
  text-align: center;
}

.copyright {
  margin-top: 30rem;
  font-size: var(--h5);
}

.desk{
  margin-right:5rem;
}


.article-link:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #FFF;
  transition: all ease 0.15s;
}
.article-link:hover {
  color: #efefef;
}
.article-link:hover::after {
  background-color: #79c5df;
  height: 100%;
}

.main-article{
  background-color: var(--color2);
}